* {
    margin: 0;
    padding: 0;
}

h1 {
   color: white; 
   padding-top: 30px;
   align-content: center;
   margin-right: 55px;
}

.wordle {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#teclado-1 {
    margin-left: 10px;
}

#teclado-2 {
    margin-left: 10px;
}

#teclado-3 {
    margin-left: 45px;
}

.teclado {
    margin-top: 40px;
}

.tecla {
    width: 50px;
    height: 50px;
    font-size: 14px;
    color: white;
    background-color: #818384;
    border: none;
    border-radius: 4px;
    margin: 3px;
}

.wordle-table {
   margin-left: 15%;
}

.fundo {
    background-color: black;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.input-letra {
    width: 65px;
    height: 70px;
    font-size: 25px;
    background-color: #3a3a3c;
    border: none;
    margin: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: white;
    outline: none;
}

